.Navbar {
  width: 100%;
  padding: 0.5rem 0;
  background-color: #1C3643;
}

.Navbar__brand {
  color: #ffffff;
  display: flex;
  align-items: center;
  width: 200px;
}
.Navbar__brand span{
  font-weight: 100;
}

.Navbar__brand:hover {
  color: rgba(0, 255, 0, 0.911);
  text-decoration: none;
}

.Navbar__brand-logo {
  margin-right: 0.5rem;
}